.main {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;

  justify-content: center;
}

.modal {
  z-index: 1;

  border: 1px solid grey;
  border-radius: 10px;

  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    font-family: 'Lato';
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    border: 1px solid grey;
    border-radius: 10px;
    height: 35px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input:focus,
  input:active {
    outline: none;
  }
  button {
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    color: red;
  }
  button:focus,
  button:active {
    outline: none;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    font-family: 'Lato';
    color: red;
    font-weight: 300;
  }
}
