.modal {
  z-index: 1;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #fafafa;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  * {
    font-family: 'Lato';
    color: black;
    font-size: 18px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    border: 1px solid grey;
    border-radius: 10px;
    height: 35px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input:focus,
  input:active {
    outline: none;
  }
  button {
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    color: red;
  }
  button:focus,
  button:active {
    outline: none;
  }
  label {
    color: black;
    font-size: 18px;
  }
  h3 {
    font-size: 22px;
  }
}

// .error {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   * {
//     font-family: 'Lato';
//     color: red;
//     font-weight: 300;
//   }
// }
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    font-family: 'Lato';
    color: red;
    font-weight: 300;
  }
}
.error_text {
  font-family: 'Lato';
  color: red;
  font-weight: 300;
}
